name: Deploy Preview Web

on:
  workflow_dispatch:

env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

jobs:
  build-and-deploy-prod:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Decode .env
        run: echo "${{ secrets.ENV_DEV }}" | base64 --decode > .env.dev

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
          flutter-version: 3.35.3

      - name: Install dependencies
        run: flutter pub get

      - name: Generate Env
        run: |
          dart run build_runner clean
          dart run build_runner build --define=envied_generator:envied=path=.env.dev

      - name: Copy index_dev.html as index.html
        run: cp web/index_dev.html web/index.html

      - name: Build Flutter Web
        run: flutter build web -t lib/main_web.dart --dart-define=FLAVOR=dev

      - name: Install Vercel CLI
        run: npm install -g vercel

      - name: Deploy to Vercel 
        run: vercel --token=${{ secrets.VERCEL_TOKEN }} --cwd build/web --yes